<ion-view title="Routes Tab" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list"></form>
        <h4 id="routesTab-heading3" style="color:#000000;">From Home To Work</h4>
        <button id="routesTab-button5" class="button button-positive  button-block icon ion-arrow-swap">Switch</button>
        <h4 id="routesTab-heading5" style="color:#000000;">Fastest Routes</h4>
        <ion-list>
            <ion-item>14min, no traffic, via Randolph Rd</ion-item>
            <ion-item>16min, light traffic, via Randolph Rd</ion-item>
            <ion-item>18min, light traffic, via Providence Rd</ion-item>
        </ion-list>
    </ion-content>
</ion-view>