<ion-view title="Settings Tab" id="page4">
    <ion-content padding="true" class="has-header">
        <form class="list"></form>
        <h3 id="settingsTab-heading2" style="color:#000000;">Address 1 (Eg. home)</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Address 1</span>
                <input type="text" placeholder="" ng-model="address1" ng-change="address1ChangeHandler()">
            </label>
        </form>
        <div class="spacer" style="width: 283px; height: 21px;"></div>
        <h3 id="settingsTab-heading1" style="color:#000000;">Address 2 (Eg. work)</h3>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Address 2</span>
                <input type="text" placeholder="" ng-model="address2" ng-change="address2ChangeHandler()">
            </label>
        </form>
        <div class="button-bar"></div>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive" ng-model="pushNotifications" ng-change="pushNotificationsClickHandler()">Push Notifications</ion-toggle>
        </form>
    </ion-content>
</ion-view>
